html{
    height: 100%;
}
body {
    display: flex;
    height: 100%;
    margin: auto;
    background-color: #D5E1EF;
    text-align: center;
    font-family: sans-serif;
}

.card {
    margin: auto;
    width: 320px;
    height: 500px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h2 {
    padding: 0 10px;
}

.card p {
    padding: 0 10px;
    color: #919499;
    line-height: 20px;
    letter-spacing: 1px;
}